<html>
	<head>
		<meta charset="utf-8">
		<title>graph1</title>
		<div id = "info"></div>
		<div>
			<input type="submit" value = "attack" id = "attack"> 
			<input type="submit" value = "failure" id = "failure">
		</div>
	</head>
	<body>
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{url_for('static',filename='graph.js')}}" charset="utf-8"></script>
	</body>
</html>