<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='network.css')}}">
		<title>Network Graph Simulation</title>
	</head>
	<body align="left">
		<div>
			<div class='title' >Upload a real network(CSV format):</div>	
			<input type="file" name="somename" size="chars"> 
		</div>
		<div>
			<div class='title'>generate network:</div>
			please enter the node number:<br>
			<input type="text" id="nodes">
			<br>
			<br>
		</div>
		<div>
			generate a random regular network:
			<div>
				please enter the d.o.f:<br>
				<input type="text" id="dof">
			</div>
			<input type="submit" value="2D network" id='submit11'>
			<input type="submit" value="3D network" id='submit12'>
			<input type="submit" value="Non Vision network" id='submit13'>
		</div>
		
		<div>
			generate a random ER network:
			<div>
				please enter the probability:<br>
				<input type="text" id="p1">
			</div>
			<input type="submit" value="2D network" id='submit21'>
			<input type="submit" value="3D network" id='submit22'>
			<input type="submit" value="Non Vision network" id='submit23'>
		</div>
		<div>
			generate a random WS network:
			<div>
				please enter the number of neighbors:<br>
				<input type="text" id="neb">
			</div>
			<div>
				please enter the probability:<br>
				<input type="text" id="p2">
			</div>
			<input type="submit" value="2D network" id='submit31'>
			<input type="submit" value="3D network" id='submit32'>
			<input type="submit" value="Non Vision network" id='submit33'>
		</div>
		<div>
			generate a random BA network:
			<div>
				please enter the edges added each time<br>
				<input type="text" id="edges">
			</div>
				<input type="submit" value="2D network" id='submit41'>
				<input type="submit" value="3D network" id='submit42'>
				<input type="submit" value="Non Vision network" id='submit43'>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{url_for('static',filename='init.js')}}"></script>
	</body>
</html>